@media (min-width: 360px) and (max-width: 768px) {
  header {
    height: 200vh !important;
  }
  header .container .row .col-md-11 nav {
    width: fit-content;
  }
  header .container .row .col-md-11 {
    width: 60%;
  }
  header .container .row .col-md-11 nav button {
    background-color: #eec212;
  }
  header .container .row .col-md-11 nav .collapse ul {
    width: 100% !important;
  }
  header .container .row .col-md-1 {
    width: 30%;
  }
  header .logo .row img {
    width: 60% !important;
  }
  header .container .row .col-md-11 nav .collapse ul {
    text-align: left !important;
  }

  header .logo .secound-row .col-md-4 {
    position: relative;
  }
  header .logo .secound-row .col-md-4 video {
    position: absolute;
    top: 66px;
    left: -11px;
  }
  .rols .container-fluid .row {
    display: flex;
    align-items: baseline !important;
    flex-direction: column;
  }
  .rols .container-fluid .row .col-sm-3 {
    width: 100% !important;
    margin-bottom: 2%;
  }
  .rols {
    padding-bottom: 12% !important;
  }
  .rols .fimage {
    width: 60% !important;
  }
  .contact-us .Fimage {
    position: absolute;
    bottom: 1% !important;
    width: 32% !important;
  }
  footer .container-fluid .row .col-md-2 h2 {
    text-align: left !important;
  }
}

/* Small */

@media (min-width: 768px) and (max-width: 992px) {
}

/* Medium */

@media (min-width: 992px) and (max-width: 1200px) {
}

/* Large */

@media (min-width: 1200px) and (max-width: 1700px) {
}

body {
  background-color: #1d1d1d;
}
html {
  scroll-behavior: smooth !important;
}

/* start header  */
header {
  width: 100%;
  background-color: #000;
  height: 100vh;
}
header .container .row {
  padding-top: 1%;
}
header .container .row {
  display: flex !important;
  align-items: baseline !important;
}
header .container .row .col-md-11 nav .collapse ul {
  width: 60%;
  display: flex !important;
  align-items: center;
  justify-content: space-around !important;
  padding-left: 5%;
}
header .container .row .col-md-11 ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
header .container .row .col-md-11 ul li a:hover {
  color: #eec212 !important;
}
header .container .col-md-1 button {
  padding: 0.5% 5%;
  border: #eec212 1px solid;
  background-color: #000;
  color: #eec212;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #ffdf5d96;
}
header .container-fluid .row img {
  width: 10%;
}
header .logo {
  padding-left: 10%;
  padding-top: 1%;
  position: relative;
}
.logo .row .col-md-5 p {
  font-size: 59px;
  color: #eec212;
}
.logo .row .col-md-5 .article {
  font-size: 31px;
  color: #fff;
}
.logo .secound-row .col-md-4 {
  position: absolute;
  right: 0;
  top: 10%;
}
.logo .third-row .col-md-3 button {
  padding: 4%;
  width: 200px;
  background-color: #eec212;
  color: #000;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ffdf5d96;
  border: 2px solid #eec212;
}
.logo .third-row .col-md-3 button:hover {
  background-color: #000;
  color: #eec212;
  border: 2px solid #eec212;
}
/* End Header  */

/*Start About Us  */
.about-us {
  background-color: #1d1d1d;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  padding-bottom: 5%;
}
.about-us .img3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 20%;
}
.about-us .img4 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 15%;
}
.about-us .container h2 {
  text-align: center;
  color: #eec212;
  font-size: 55px;
  height: 40px;
  font-weight: bolder;
  margin-bottom: 10%;
}
.about-us .container {
  z-index: 121;
  background-color: #1d1d1d;
}
.about-us .container .row {
  padding-top: 2%;
  margin-bottom: 5%;
}
.about-us .container .row .col-md-6 .pic {
  background-size: contain;
  background-position: center;
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

.about-us .container .row .col-md-6 .describtion {
  padding-top: 5%;
  padding-left: 0;
}
.about-us .container .row .col-md-6 .describtion p {
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0;
}
/* End Abou Us  */

/* Start Rules  */
.rols {
  background-color: #1d1d1d;
  padding-top: 10%;
  position: relative;
  z-index: 1;
  padding-bottom: 5%;
  margin-bottom: 3%;
}
.rols .fimage {
  position: absolute;
  width: 20%;
  left: 0;
  top: 15%;
  z-index: -1;
}
.rols .limage {
  position: absolute;
  width: 15%;
  right: 0;
  bottom: 2%;
  z-index: -1;
  height: 60%;
}
.rols .container-fluid {
  z-index: 121;
  padding: 5%;
}
.rols .container-fluid .row h2 {
  text-align: center;
  color: #eec212;
  font-size: 52px;
  font-weight: bolder;
}
.rols .container-fluid .row p {
  text-align: center;
  font-size: 26px;
  color: #fff;
  width: 80%;
  margin: 2% auto;
}
.rols .container-fluid .row .col-sm-3 {
  background-color: #373737;
  padding: 1%;
  width: 22%;
}
.rols .container-fluid .row .col-sm-3 .cards .number {
  margin-bottom: 2%;
}
.rols .container-fluid .row .col-sm-3 .cards .number p {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: #eec212;
  width: 25%;
  margin: 1% auto;
  border: 6px solid #eec212;
  border-radius: 50%;
  height: 25%;
}
.rols .container-fluid .row .col-sm-3 .cards .head-card p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
}
.rols .container-fluid .row .col-sm-3 .cards .contain-card p {
  font-size: 21px;
  color: #fff;
  text-align: left;
}
/* End Rules  */

/* Start Contact Us  */
.contact-us {
  position: relative;
  height: fit-content;
  padding-bottom: 10%;
}
.contact-us .Fimage {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 15.5%;
}
.contact-us .Limage {
  position: absolute;
  top: 0%;
  right: 0;
  width: 15.5%;
}
.contact-us .container-fluid {
  padding: 5%;
}
.contact-us .container-fluid .container .row p {
  font-size: 55px;
  color: #eec212;
  font-weight: bolder;
}
.contact-us
  .container-fluid
  .container
  .row
  .col-md-6
  form
  .row
  .col-md-6
  input {
  width: 100%;
  padding: 5% 4%;
  background-color: #373737;
  color: #ffffff;
  border: none;
  font-size: 26px;
  outline: none;
}
.contact-us
  .container-fluid
  .container
  .row
  .col-md-6
  form
  .row
  .col-md-12
  input {
  width: 100%;
  padding: 3% 2%;
  background-color: #373737;
  border: none;
  outline: none;
  font-size: 26px;
  color: #fff;
}
.contact-us
  .container-fluid
  .container
  .row
  .col-md-6
  form
  .row
  .col-md-12
  textarea {
  width: 100%;
  background-color: #373737;
  border: none;
  outline: none;
  font-size: 26px;
  color: #fff;
}
.contact-us
  .container-fluid
  .container
  .row
  .col-md-6
  form
  .row
  .col-md-12
  button {
  background-color: #eec212;
  padding: 1% 4%;
  box-shadow: 0px 0px 6px #ffdf5d96;
  border: none;
  width: 30%;
  font-weight: bolder;
  border-radius: 4px;
  margin-bottom: 2%;
}
.contact-us .container-fluid .container .row .contacts {
  background-color: #373737;
  padding: 3%;
  width: fit-content;
  height: fit-content;
  margin: 1% auto;
  z-index: 56456;
}
.contact-us .container-fluid .container .row .contacts .mail,
.phoneNum1,
.phonenum2,
.down-load {
  margin-bottom: 4%;
}
.contact-us .container-fluid .container .row .contacts .mail a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
.contact-us .container-fluid .container .row .contacts .phoneNum1 a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
.contact-us .container-fluid .container .row .contacts .phonenum2 a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
.contact-us .container-fluid .container .row .col-md-6 .icons a {
  text-decoration: none;
  margin-right: 2%;
}
.contact-us .container-fluid .container .row .col-md-6 .down-load {
  margin-top: 5%;
  margin-bottom: 2%;
}
.contact-us .container-fluid .container .row .col-md-6 .down-load a {
  text-decoration: none;
}
/* End Contact Us  */

/* Start Footer  */
footer {
  background-color: #292929;
}
footer .container-fluid {
  padding: 3% 4%;
}
footer .container-fluid .row .col-md-4 h2 {
  font-weight: bolder;
  color: #eec212;
}
footer .container-fluid .row .col-md-4 p {
  color: #fff;
  font-size: 22px;
  line-height: 2;
  width: 90%;
}
footer .container-fluid .row .col-md-4 .mail a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
footer .container-fluid .row .col-md-4 .phoneNum1 a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
footer .container-fluid .row .col-md-4 .phonenum2 a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
footer .container-fluid .row .col-md-2 h2 {
  text-align: center;
  font-weight: bolder;
  color: #eec212;
}
footer .container-fluid .row .col-md-2 a {
  width: 30%;
}
footer .container-fluid .row .col-md-2 a img {
  width: 45%;
}
/* End Footer  */
